
body{
    width: 100vw;
    height:100vh;
    overflow: hidden;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    text-align: center;
    object-fit: fill;

}
.content {
    text-align: center;
   overflow: hidden;
}
  
.content h1{
    font-size: 160px;
    color: gold;
    font-weight: 600;
    margin-left: 300px;
    -webkit-text-stroke: 2px gold;
    color: transparent;

}
.content a{
    text-decoration: none;
    display: inline-block;
    color: gold;
    font-size: 24px;
    border: 2px solid gold;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}